.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
    display: grid;
    place-items: center;
    max-width: 100%;
}

.loading > div {
    width: 10vmax;
    height: 10vmax;
    border-radius: 50%;
    border-bottom: 5px solid rgba(0, 0, 0, 0.719);
    animation: loadingRotate 800ms linear infinite;
}

@keyframes loadingRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}